.container{
    background-color:#495e57 ;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.footer{
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: #edefee;
}

.logo{
    flex: 1;
}


.links{
    flex: 2;
    display: flex;
    justify-content: space-between;
    
}

.links h1{
    font-family: "Karla", sans-serif;
    margin-bottom: 1rem;
}

.links ul{
    list-style : none;
    font-size: 0.8rem;
    font-family: "Karla", sans-serif;
    line-height: 1.1rem;
}

.navList a{
    text-decoration: none;
    color: #edefee;
    transition-duration: 500ms;
}
.navList a:hover{
    text-decoration: none;
    color: #f4ce14;
}

.social_list{
    display: flex;
    gap: 1rem;
}
.social_list li{
    font-size: 1.2rem;
}

.social_list a{
     color: #edefee;
}