.about{
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-family: "Karla", sans-serif;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
}

.content_header h1{
    font-family: "Markazi Text", sans-serif;
    font-size: 2.2rem;
    margin-bottom: -0.5rem;
}
.content_header h3{
    font-family: "Markazi Text", sans-serif;
    font-size: 1.5rem;
    color: #f4ce14;
    font-weight: 100;
}

.content_para{
    font-size: 0.8rem;
    width: 15rem;
    text-align: justify;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.images{
    flex: 1;
    display: flex;
    position: relative;
}

.img_1{
    align-self:flex-end;
    margin-top: 8rem;
    margin-right: 6rem;
    border-radius: 8px;
    position: absolute;
    top: 0;
}

.img_2{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 8px;
}

.container{
    height: 28rem;
}